*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
 background-image: url(./images/offset-card-03.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}
header{
    background-color: rgba(151, 192, 228, 0.781);
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo h1{
    margin-left:15px;
}

nav ul{
    display: flex;

}

nav ul li{
    list-style: none;
    margin: 0 10px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

nav li a{
    text-decoration: none;
    color: #0c0b0b;
    font-size: 18px;
}

.home{
    text-decoration: underline;
}
.hero-img{
    display: flex ;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.money{
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.bonus{
    margin-bottom: 10px;
}
.img{
    width: 600px;
}
.btn{
    background-color: rgba(250, 66, 220, 0.781);
    color: #0c0b0b;
    font-size: 18px;
    padding: 12px ;
    border: 1px solid rgb(63, 156, 231);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
}

.btn:hover{
    background-color: rgba(41, 210, 139, 0.781);
    color: #0c0b0b;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.list ul li{
    list-style: none;
    margin-top: 10px;
    font-size: 19px;
}
.sectionone{
    margin-top: 40px;
    margin-left: 30px;
    color: #fdfafa;
   
    
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    margin-right: 30px;
    font-size: 22px;
    margin-top: 20px;
}
.text ul{
    margin-left: 20px;

}

.text ul li{
    list-style: square;

    margin-bottom: 10px;
}
footer{
    
    margin-top: 20px;
    
}
@media only screen and (max-width: 768px) {
    .sectionone{
        margin-top: 20px;
    }
    .img{
        width: 90%;
        margin-top: 30px;
    }
    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .text{
    font-size: 18px;
    margin-top: 30px;
 
   }
   nav li a{
    font-size: 14px;
     margin: 0px;
   }
   nav ul li{
    margin: 0 5px;
   }
  }
  .add{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 30px;
  }
  .add input{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(63, 156, 231);
    border-radius: 5px;
  }
.log{
    background-color: rgba(41, 210, 139, 0.781);
    color: #0c0b0b;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 300px;
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 20px;
}
.add h2{
    color: whitesmoke;
    margin-bottom: 15px;
    margin-top: 20px;
}